html
        head
                title CCUSH: Устройство недоступно
                style
                        include style.css
        body
                h1 CCUSH
                p Устройство недоступно
                a(href="/")
                        | Обновить страницу
