html
        head
                title cape
                style
                        include style.css
        body
                h1 cape
                a(href="/info")
                        | Информация об устройстве
                br
                table(class="info_table")
                        tr
                                td
                                        | Inputs:
                        tr
                                td
                                        each val in inputs
                                                if (val["Active"] == 0)
                                                        div(class="disabled_value")
                                                                = val["Voltage"]
                                                else
                                                        div(class="enabled_value")
                                                                = val["Voltage"]
                table(class="info_table")
                        tr
                                td
                                        | Outputs:
                        tr
                                td
                                        each val, index in outputs
                                                if val == 1
                                                        div(class="disabled_value")
                                                                | Активен
                                                                br
                                                                form(method="post", action="/disable-output/")
                                                                        button(type="id", name="id", value=index)
                                                                                | Выключить
                                                else
                                                        div(class="disabled_value")
                                                                = index
                                                                hr
                                                                | Пассивен
                                                                br
                                                                form(method="post", action="/enable-output/")
                                                                        button(type="id", name="id", value=index)
                                                                                | Включить
                table(class="info_table", style="width: 25%")
                        tr
                                td
                                        | Power
                                td
                                        = power
                        tr
                                td
                                        | Temp
                                td
                                        = temp
                        tr
                                td
                                        | Battery state
                                td
                                        = batteryState
                        tr
                                td
                                        | Partitions
                                td
                                        = partitions
                        tr
                                td
                                        | Balance
                                td
                                        = balance
        h2 Камера видеонаблюдения
        img(src="cape_chelyuskin.jpg")
